name: full_context
description: "Intuitive state management via Context. With FullContext you still need Providers and Builders to instantiate and display states, but management can all be done through Context"
version: 1.1.1
homepage: https://github.com/LuDColl/full_context

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

  rxdart: ^0.28.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
